.HeaderComponent {
  width: 100%;
  background: #3F81CC;
  color: #ffffff;
  height: 45px;
  position: fixed;
  padding: 10px 0 0 10px;
  z-index: 99;
}

.HeaderComponent h1{
  font-size: 80%;
  display: inline-block;
  padding: 0 0 0 10px;
}

/* */

.container {
  padding: 100px 0 0 0;
}

/* */

.TitleComponent img {
  width: 80px;
  height: 80px;
  margin-top: -30px;
}

.TitleComponent h2 {
  font-size: 100%;
  font-weight: bold;
}

.TitleComponent__content {
  display: inline-block;
}

/* */

.FileTypesComponent {
  margin: 60px 0 0 0;
}

.FileTypesComponent p {
  margin: 0;
}

.FileTypesComponent ol {
  background: #fff;
  list-style-type: none;
  padding: 0;
}

.FileTypesComponent li {
  border-bottom: 1px solid #D5D5D5;
  padding: 10px;
}

/* */

.FileListComponent button {
  width: 100%;
  background: #696969;
  color: #fff;
}

.FileListComponent h3 {
  padding: 10px 10px;
}

.FileListComponent ul {
  background: #fff;
  list-style-type: none;
  padding: 0;
}

.FileListComponent li {
  border-bottom: 1px solid #D5D5D5;
  padding: 10px;
}

.FileListComponent li:hover {
  background: #fff;
}
